
body {
  margin: center;
  background-color: black;
  font-family: 'IBM Plex Mono', monospace;
}

.Row {
  padding-left: 7vw;
  padding-right: 7vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
}


.button {
  border-radius: 25px;
  border: 2px solid #73AD21;
  text-align: center;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  width: 294px;
  height: 194px; 
}

.Row {
  display: table;
}

.Column {
  display: table-cell;
}

