html, body {
	color: red;
}

h1 {
	font-size: 50px;
	font-weight: normal;
	background-color: green;
}

#square {
	border: dotted 4px black;
	width: 5rem;
	height: 5rem;
	border-radius: 0;
	transition: background-color: 1.5s;
}


.circle { 
	border: dotted 2px black;
	border-radius: 2.5rem;
	width: 5rem;
	height: 5rem;
	box-sizing: border-box;
}






