body {
	padding: 0;
	margin: 0;
	background-color: #6666ff;
}


h1 {
	color: white;
	text-align: center;
	font-family: Noto Sans;
	font-size: 90px;
}

h2 {
	color: white;
	text-align: center;
	font-family: futura;
	font-size: 45px;
}

h3 {
	padding: 40px;
	margin: 0 auto;
	margin-bottom: 40px;
	width: 600px;
	height: 200px;
	text-align: center;
	color: white;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	font-family: Noto Sans;
	font-size: 25px;
}


.channel {
	padding: 0px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 30px;
	text-align: center;
	color: white;
	font-family: Noto Sans;
	font-size: 25px;
}

a {
	display: block;
	color: #0000ff;
	width: 200px;
	height: 30px;
	text-align: center;
	padding: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	margin: 0 auto;
	margin-bottom: 10px;
	font-family: Noto Sans;
	font-size: 20px;
}

span {
	font-size: 35px;
	margin: 10px;
}
