

html, body{
	color: red;
	font-size: 2vw;
}


#mod1{
	border: dotted 2px black;
	width: 20rem;
	height: 20rem;
	border-radius: 2.5rem;
	transition: background-color 0.2s;
}

.m1-1, #mod1.m1-1{
	display: inline-block;
	border: dotted 2px black;
	width: 20rem;
	height: 20rem;	
	border-radius: 2.5rem;
	box-sizing: border-box;
}