


#clock {
	font-family: 'Signika', bold;
	font-size: 8vw;
}


.circle {
    border: 3px solid black;
    background-color: black;
    border-radius: 50%;
    width: 60vw; 
    height: 60vw;
  	display: block;
    margin-left: auto;
    margin-right: auto; 
}




